#itemForm {
    border: 50px; /* Black border with 50px width */
    padding: 20px;  /* Optional: Add some padding inside the form */
    margin: 20px;   /* Optional: Add margin around the form */
    border-radius: 10px; /* Optional: Softened corners */
}

.inventory-greeting {
    padding-top: 15px;
    text-align: center;
}

.home-welcoming{
    padding: 20px;
   text-align: center;
}

.inventory-showcase {
    padding:35px;
}

.home-navigation img {
    padding: 20px;
}

.home-navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    text-align: center;
}

.card {
    min-height: 650px;
    height: auto; /* Lock the height of the card */
    display: flex;
    flex-direction: column; /* Ensures proper alignment of content */
    justify-content: space-between; /* Distributes content evenly */
    overflow: hidden; /* Prevents overflow issues */
    text-align: center; /* Optional: Aligns content in the center */
}

.card-body {
    text-align: center; /* Optional: Aligns content in the center */
}

.card-buttons{
    margin-bottom: 10px;
}

.inventory-welcoming-link {
    text-decoration: none;
}

.search-form{
    padding:35px;
    align-content: center;
}

.details-card{
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 50px;
}

.login-form{
    padding: 30px;
    width: 40%;
    margin: auto;
}
