<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{%block title%}Default Value{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"> <!-- dependency for bootstrap css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- css for elements markup-->
    </head>

    <body>
        <script src="/js/bootstrap.js "></script>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
              {% if current_user.is_authenticated %} <!-- If user is looged in, show him proper navbar-->
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('inventory')}}">Inventory</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('inventory_search')}}">Search Inventory</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('profile') }}">Profile</a> <!-- Profile edit section to come --> 
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
              </ul>
              {% else %} <!-- If user is logged out, show him login links-->
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('register') }}">Signup</a>
                </li>
              </ul>
              {% endif %}
              
            </div>
          </div>
        </nav>
        {%block content%}Default content{% endblock %}
    </body>
</html>