<!-- Individual item details page-->
{% extends "base.html" %}

{% block title %}Details about the item{% endblock %}

{% block content %}
<div class="details-card"> <!-- Individual item details-->
    
    <div class="item-details">
        <img class="details-image" src="/{{item.image}}" alt="Image for {{ item.title }}" class="card-img-top">
        <h2 class="card-title">{{ item.title }}</h2>
        <h4 class="card-text">Current stated condition: {{item.condition}}</h4>
        <h4 class="card-text">Current Inventory Reference: {{ item.invRef }}</h4>
        <h4 class="card-text">Bought for: {{ item.bought }}$</h4>
        <h4 class="card-text">Selling for: {{ item.asking }}$</h4>
        <button class="btn btn-danger" onclick="deleteItem({{item.pid}})">Delete</button>
        <a class="btn btn-primary" href="{{ url_for('inventory') }}">Back</a>
    </div>

    <form action="{{ url_for('edit_item', item_id=item.pid) }}" method="POST"> <!-- From to edit item details-->
        <div class="details-edit-section">
            <h1>Edit Item</h1>
                <div class="form-group">

                    <div class="form-group row">
                        <label for="item-title" class="col-sm-2 col-form-label">Item Title:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" value="{{item.title}}" required="required" id="item-title"><br/>    
                        </div>
                    </div>

                    
                    <div class="form-group row">
                        <label for="item-asking" class="col-sm-2 col-form-label">Asking price:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="asking" value="{{item.asking}}" id="item-asking"><br/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="item-bought" class="col-sm-2 col-form-label">Bought price:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="bought" value="{{item.bought}}" id="item-bought"><br/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="item-invRef" class="col-sm-2 col-form-label">Inventory Reference:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="invRef" value="{{item.invRef}}" id="item-invRef"><br/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="item-note" class="col-sm-2 col-form-label">Additional note about the item:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="note" value="{{item.note}}" id="item-note"><br/>
                        </div>
                    </div>


                    <select class="form-select" name="status" aria-label="item status select">
                        <option value="In-Stock">In-Stock</option>
                        <option value="Sold">Sold</option>
                        <option value="On Hold">On Hold</option>
                    </select>

                    <select class="form-select" name="condition" aria-label="item condition select">
                        <option value="New">New, Sealed</option>
                        <option value="CIB">CIB</option>
                        <option value="Loose">Loose</option>
                    </select>
                    <button type="submit" class="btn btn-success">Edit Item</buttoon>
                </div>
        </div>
    </form>

</div>

<!-- 
<script>
    document.getElementById('itemForm').addEventListener('submit', function(event) {
        document.getElementById('submitButton').disabled = true; // Disable submit button to prevent double submission
    });
</script> -->

<!-- Delete function for the items -->
<script type="text/javascript"> 
    function deleteItem(pid) {
        fetch('{{url_for("delete", pid=pid)}}' + pid, {
            method: 'DELETE'
        }).then(response => {
            if (response.ok){
                window.location.reload()
            } else {
                console.error('Failed to delete item')
            }
        }) 
            .catch(error => {
                console.error('Error fetching', error)
            })
    }
</script>

{% endblock %}
