<!-- Individual item details page-->
{% extends "base.html" %}

{% block title %}Details about the item{% endblock %}

{% block content %}
<div class="details-card"> <!-- Individual item details-->
    
    <div class="item-details">
        <img class="details-image" src="/{{item.image}}" alt="Image for {{ item.title }}" class="card-img-top">
        <h2 class="card-title">Title: {{ item.title }}</h2>
        <h3>Current stated condition: {{item.condition}}</h3>
        <h3 class="card-subtitle mb-2 text-muted">Current Inventory Reference: {{ item.invRef }}</h3>
        <h3 class="card-subtitle mb-2 text-muted">Selling for: {{ item.price }}$</h3>
        <button class="btn btn-danger" onclick="deleteItem({{item.pid}})">Delete</button>
        <a class="btn btn-primary" href="{{ url_for('inventory') }}">Back</a>
    </div>

    <form action="{{ url_for('edit_item', item_id=item.pid) }}" method="POST"> <!-- From to edit item details-->
        <div class="details-edit-section">
            <h1>Edit Item</h1>
                <div class="form-group">
                    <small class="text-muted">Item title</small>
                    <input type="text" class="form-control" name="title" value="{{item.title}}" required="required"><br/>
                    
                    <small class="text-muted">Selling price</small>
                    <input type="number" class="form-control" name="price" value="{{item.price}}" required="required"><br/>
                    
                    <small class="text-muted">Internal Inventory Number</small>
                    <input type="text" class="form-control" name="invRef" value="{{item.invRef}}" required="required"><br/>
                    
                    <select class="form-select" name="status" aria-label="item status select">
                        <option value="In-Stock">In-Stock</option>
                        <option value="Sold">Sold</option>
                        <option value="On Hold">On Hold</option>
                    </select>

                    <select class="form-select" name="condition" aria-label="item condition select">
                        <option value="New">New, Sealed</option>
                        <option value="CIB">CIB</option>
                        <option value="Loose">Loose</option>
                    </select>
                    <button type="submit" class="btn btn-success">Edit Item</buttoon>
                </div>
        </div>
    </form>

</div>

<!-- 
<script>
    document.getElementById('itemForm').addEventListener('submit', function(event) {
        document.getElementById('submitButton').disabled = true; // Disable submit button to prevent double submission
    });
</script> -->

<!-- Delete function for the items -->
<script type="text/javascript"> 
    function deleteItem(pid) {
        fetch('{{url_for("delete", pid=pid)}}' + pid, {
            method: 'DELETE'
        }).then(response => {
            if (response.ok){
                window.location.reload()
            } else {
                console.error('Failed to delete item')
            }
        }) 
            .catch(error => {
                console.error('Error fetching', error)
            })
    }
</script>

{% endblock %}
