{% extends "base.html" %}

{%block title%}Inventory Page{%endblock%}

{%block content%}


<!-- Form to add new item to the inventory-->
<form id="itemForm" action="{{url_for('inventory')}}" method="POST" enctype="multipart/form-data">
    <h3>Add New Item</h3>
    <div class="form-group">
        
        <small class="text-muted">Upload picture to identify items easier</small>
        <input type="file" class="form-control" name="image" accept="image/*"><br/>

        <input type="text" class="form-control" name="title" placeholder="Title" required="required"><br/>
        
        <input type="number" class="form-control" name="price" placeholder="Price" required="required"><br/>
        
        <small class="text-muted">Internal Inventory Number for future distinguishing</small>
        <input type="text" class="form-control" name="invRef" placeholder="Inventory Reference" required="required"><br/>
        
        <select class="form-select" name="status" aria-label="item status select">
            <option value="In stock">In Stock</option>
            <option value="Sold">Sold</option>
            <option value="On hold">On Hold</option>
        </select>

        <select class="form-select" name="condition" aria-label="item condition select">
            <option value="New">New, Sealed</option>
            <option value="CIB">CIB</option>
            <option value="Loose">Loose</option>
        </select>

        <input type="submit" id="submitButton" class="btn btn-success" value="Add Item">
    </div>
</form>

<h1 class="inventory-greeting">Inventory</h1>

<!-- Inventory items showcase-->
<div class="container inventory-showcase">
    <div class="row">
        {% if items %}
            {% for item in items %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ item.image }}" alt="Image for {{ item.title }}" onerror="this.style.display='none'">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <h6 class="card-text">{{item.condition}}</h6>
                            <h6 class="card-subtitle mb-2">Inventory Reference: {{ item.invRef }}</h6>
                            <p class="card-text">Selling for: {{ item.price }}$</p>
                            <p class="card-text">Status: {{item.status}}</p>
                            <button class="btn btn-danger" onclick="deleteItem({{item.pid}})">Delete</button>
                            <a href="{{ url_for('details', pid=item.pid) }}" class="btn btn-secondary">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No items in your inventory yet! Use the form above to add one.</p>
        {% endif %}
    </div>
</div>


<!-- <script>
    document.getElementById('itemForm').addEventListener('submit', function(event) {
        document.getElementById('submitButton').disabled = true; 
    });
</script> -->

<!-- Function to delete item-->
<script type="text/javascript">
    function deleteItem(pid) {
        fetch('{{url_for("delete", pid=pid)}}' + pid, {
            method: 'DELETE'
        }).then(response => {
            if (response.ok){
                window.location.reload()
            } else {
                console.error('Failed to delete item')
            }
        }) 
            .catch(error => {
                console.error('Error fetching', error)
            })
    }

</script>

{%endblock%}